* {
    color: #333333;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background: #E9EAEE;
    padding-top: 60px;
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

#top-logo {
    background-image: url("../img/logo_sec.png");
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: 90px auto;
    height: 60px;
    position: absolute;
    top: 0;
    width: 144px;
}

nav {
    align-items: center;
    background: #046A9D none repeat scroll 0 0;
    display: flex;
    height: 60px;
}

#main-content {
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
}

.image-article {
    background-color: #3C5A9A;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 25px auto;
    border-radius: 50%;
    height: 45px;
    margin: 0 auto 15px;
    width: 45px;
}

.articles-content {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-top: 0;
    padding-bottom: 22px;
}

.articles-title {
    color: #2C3E64;
    font-size: 20px;
    margin: 20px 0;
}


.new-article {
    background: #DD4C40 none repeat scroll 0 0;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    font-size: 11px;
    height: 15px;
    left: 0;
    margin: 0 0 0 50px;
    position: absolute;
    width: 15px;
    z-index: 1;
}

.other-content h3 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 5px;
}

.other-content li {
    font-size: 14px;
    margin-bottom: 10px;
}

.notices {
    align-items: center;
    display: flex;
    font-size: 15px;
    font-weight: 200;
    margin-top: 8px;
    padding: 0;
}

.notices > img { margin-right: 10px; }

.notice-content div:last-child { border-right: none; }

.article-card {
    font-size: 15px;
    margin-bottom: 8px;
    margin-top: 15px;
}

.section-a-a { background-image: url(../img/remote-control.svg); }

.section-a-b { background-image: url(../img/conference.svg); }

.section-a-c { background-image: url(../img/flash-light.svg); }

.section-a-d { background-image: url(../img/assignment.svg); }

.section-b-a { background-image: url(../img/check.svg); }

.section-b-b { background-image: url(../img/money.svg); }

.section-b-c { background-image: url(../img/info.svg); }

.section-b-d { background-image: url(../img/bookmark.svg); }


.left-side {
    background: #F6F7F9;
    padding-right: 15px;
}

.left-side .articles-content {
    border-bottom: medium none;
    border-top: 2px solid #dadbdd;
    margin: 10px 0 25px;
    padding-bottom: 0;
}

.left-side h3 {
    color: #3c5a9a;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding-top: 3px;
    text-transform: capitalize;
}

.articles-content li {
    font-size: 14px;
    list-style: outside none none;
    text-transform: capitalize;
}

.inline-list a {
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
}

#top-menu { }







.orbit-slide-number { display: none; }




.inline-list {
    float: right;
    margin-bottom: 0;
}

ul, ol, dl {
    margin-bottom: 0;
    margin-left: 0
}